.div-quantite-prix{
	display: inline-block;
	text-align: right;
	float: right;
}
.div-quantite-prix p{
	margin-bottom: 0rem;
	height: 19px;
}
.span-like i{
	color: red;
}

.span-like{
	font-size: 24px;
	padding-top: 10px;
	cursor: pointer;
}
.span-like p{
display: inline-block;
}